@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

header {
    /* margin-top: 25px; */
    background: linear-gradient(135deg, #1abeff, #0084ff);
    padding: 15px 0;
    text-align: center;
    /* border-bottom: 2px solid #135f8f; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 2px 2px; 
    margin-bottom: 25px;
}


header:hover {
    background: linear-gradient(135deg, #0084ff, #1abeff);
}

footer {
    /* background-color: #222; */
    background: linear-gradient(135deg, #1abeff, #0084ff);
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Pushes the footer to the bottom */
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:center;
}

.footer-container p{
    margin-top: 10px;
    padding-top: 0px;
    margin-left: 0px;
}

.social-links {
    /* color: #000000; */
    margin-top: 0px;
    margin-left: 800px;
    padding-top: 0px;
}

.social-links a {
    
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    color: #fff;
}

.social-links svg {
    margin-right: 5px; /* Space between icon and text */
    fill: currentColor; /* Makes the icon inherit the text color */
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
}

.social-links svg :hover {
    color: #fff;
}


h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 36px;
    margin: 0;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease-in-out; /* Smooth transition for text color */

    cursor: pointer;
}


header:hover h1 {
    color: #f1f1f1;
}

.profile-container {
    position: relative;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
}

.profile-container p{
    /* position: absolute;
    top: 45px; */
    font-weight: bold;
}
.profile-icon {
    padding-top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    object-fit: cover;

    transition: opacity 0.3s  ease-in-out;
    transition: box-shadow 200ms;
    transition: background-color 200ms;
    transition: color 200ms;
    transition: transform 400ms;

}

.profile-icon:hover{
    opacity: .9;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}

.profile-icon:active{
    opacity: 1;
    color: #000000;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(98, 98, 98, 0.716);
    width: 200px;
}
.dropdown-menu.active {
    display: grid;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
.dropdown-menu a {
    text-decoration: none;
    color: #fff6f6;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}
.dropdown-menu a:last-child {
    border-bottom: none;
}


.dropdown-menu a:hover {
    /* background-color: #f4f4f4; */
    opacity: .6;
    color: rgb(251, 251, 251);
}
.dropdown-menu a svg {
    margin-right: 10px;
}

.dropdown-menu a:active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* display: none; */
}



.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#usernameDisplay{
    font-family: monospace;
    /* font-style: italic; */
}

#emailDisplay{
    font-family: monospace;
}



#welcome-message {
    /* margin-right: -500px; */
    position: absolute;
    right: 20px;
    top: 180px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body {
    /* background: linear-gradient(#e66465, #9198e5); */
    background: linear-gradient(to right,rgb(255, 255, 255), rgb(100, 185, 250));
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#output {
    position: absolute;
    right: 20px;
    top: 90px;
}

#search-input {
    width: 50%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    font-size: 18px;
}



/* #signoutbutton {
     align-self: flex-end; 
    margin-left: 330px;
    padding: 10px 20px;
    margin-right: -300px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;    
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;

    transition: opacity 0.3s  ease-in-out;
    transition: box-shadow 200ms;
    transition: background-color 200ms;
    transition: color 200ms;
    transition: transform 400ms;
} 
    */



#signoutbutton :hover{
    opacity: .8;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}

#signoutbutton:active{
    opacity: 1;
    color: #000000;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
}
 


#search-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;    
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
    margin-left: 10px;

}


#search-button:hover {
    opacity: .9;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}

#search-button:active {
    opacity: 1;
    color: #000000;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;

}

.imageUpload{
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;    
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
    margin-left: 10px;
}


.imageUpload:hover {
    opacity: .9;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}

.imageUpload:active {
    opacity: 1;
    color: #000000;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;

}

.white-icon {
    fill: white; 
}

/* .white-icon:active{
    fill: black; 
} */

.imageUpload:active .white-icon {
    fill: black; 
}



.icon-container{
    display: flex;
    justify-content: space-between;
    /* display: inline-block; */
}

.icon{
    display: none;   
    margin: 5px;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    margin-right: 10px;

    justify-content: center;
    align-items: center;
    overflow: hidden; 

    transition: height 0.2s, width 0.2s;


    /* height: 2.25em;
    width: 2.25em; */
    
}


.icon:hover {
    opacity: 0.65;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.icon:active{
    transform: scale(1.25);
    cursor: pointer;
       
}




.search-results{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column; */
    
    top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.search-result{
    margin-bottom: 60px;
    /* width: calc(33.33% - 20px); */
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);

    transition: opacity 0.3s  ease-in-out;
    transition: box-shadow 200ms;
    transition: transform 400ms;
}

.search-results .search-result {
    flex-direction: row;
}

.search-result img {
    width: 100%;
    height: 350px;
    object-fit: cover ; 
  
}

.search-result:hover {
    opacity: .9;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);   
    transform: scale(1.05);

}

.search-result:hover .icon{
    opacity: .9;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);   
    display:inline-block;
}

.search-result a {
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-transform: capitalize;
    color: black;
}




.sidebar {
    width: 78px;
    max-height: 74%;

    position: fixed;
    border: none;
    border-radius: 5px;
    height: 100%;
    margin-top: -130px;
    /* margin-right: 50px; */
    /* padding-right: 50px; */

    

    background-color: #1abeff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    /* overflow-y: auto; */
}



.sidebar-icons{
    height: 72.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    transition: opacity 500ms;
    transition: box-shadow 300ms;
}

.sidebar-icons:hover{
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: #41a3ff;
    opacity: .96;
}

.sidebar-icons:active {
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: .8;
    font-size: 14px;
}



.sidebar-icons-c {
    height: 72.5px;
    text-align: center;
    padding-top:10px ;
    cursor: pointer;
    padding-left: -4px;

    transition: opacity 500ms;
    transition: box-shadow 300ms;
}

.sidebar-icons-c :hover{
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: .96;
}

.moreContent {
    border: none;
    margin-top: -5px;
}

.moreContent :hover{
    background-color: #41a3ff;
}


.dropdown {
    justify-content: center;
    position: relative;
    display: inline-block;
    border: none ;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1abeff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #41a3ff;
    /* background-color: rgb(2, 106, 96); */
}

.dropdown:hover .dropdown-content {
    display: block;
    
}











.show-more-button {
    background-color: rgb(8, 124, 225);
    font-weight: bolder;
    font-size: 18px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 30px;
    margin-left: 690px;
    cursor: pointer;
    border-radius: 5px;
    /* display: none; */
}

.show-more-button:hover {
    opacity: .9;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}

.show-more-button:active {
    opacity: 1;
    color: #000000;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;

}




@media screen and (max-width : 768px) {

    .search-results{
        margin-left: 40px;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }
    .search-result {
        width: calc(50% - 20px);
        /* margin-left: 60px; */
    }
    .sidebar {
        width: 50px; /* Smaller width for tablets and smaller screens */
    }
    
}


@media screen and (max-width : 480px) {
    .search-results{
        margin-top: 20px;
        justify-content: center;
        /* margin-left: 40px; */
    }
    .search-result {
        width: calc(100% - 20px);
        max-width: none;
        
    }
    .sidebar {
        margin-top: -45px;
        width: 78px;
        height: 500px;
        max-height: none;
        position: relative; /* Adjust position for mobile screens */
    }
    
    .sidebar-icons {
        width: 100%;
        flex-direction: row; /* Align icons horizontally */
        padding: 5px;
    }
    
    .sidebar-icons-c {
        width: 100%;
        text-align: center;
    }

    .show-more-button {
        margin-left: 150px;
        /* justify-content: center; */
    }
    
}

